@charset "UTF-8";
.navbar {
    height: 75px;
    z-index: 10000;
    width: 100%;
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
}

.nav__logo {
    background-color: #fff;
    width: 70px;
    height: 70px;
    margin: 2px;
    padding: 5px;
    border-radius: 20px;
}

.nav-link {
    text-transform: uppercase;
    font-family: 'Jost', sans-serif;
}

#navbarNav {
    background-color: #0d6efd;
    padding: 4px;
    border-radius: 10px;
    text-align: center;
}

.nav__list:hover {
    background-color: orange;
    padding: 0 2px 0 7px;
    border-radius: 10px;
    -webkit-transition: .5s all ease;
    transition: .5s all ease;
}

.list__eng {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    margin: 0 2px 0 0;
    position: relative;
    height: 24px;
    width: 60px;
    border-radius: 10em;
    display: inline-block;
    background-color: orange;
    -webkit-box-shadow: 0 0 5px #5c5858;
            box-shadow: 0 0 5px #5c5858;
    font-family: 'Jost', sans-serif;
}

.list__eng::before {
    content: "Engus";
    position: absolute;
    width: 24px;
    height: 24px;
    color: white;
    top: -3px;
    left: 7px;
}

.list__eng::after {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    color: white;
    top: -5px;
    left: 37px;
    background-color: #fff;
    border-radius: 10em;
    -webkit-box-shadow: 0 0 2px #363434, inset 0 0 2px rgba(92, 88, 88, 0.5);
            box-shadow: 0 0 2px #363434, inset 0 0 2px rgba(92, 88, 88, 0.5);
}

.list__eng:hover::after {
    -webkit-transform: translateX(-23px);
            transform: translateX(-23px);
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.list__rus {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    margin: 0 2px 0 0;
    position: relative;
    font-family: 'Jost', sans-serif;
    height: 24px;
    width: 60px;
    border-radius: 10em;
    display: inline-block;
    background-color: orange;
    -webkit-box-shadow: 0 0 5px #5c5858;
            box-shadow: 0 0 5px #5c5858;
}

.list__rus::after {
    content: "Rus";
    position: absolute;
    width: 24px;
    height: 24px;
    color: white;
    top: -2px;
    left: 24px;
}

.list__rus::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    color: white;
    top: -4px;
    left: -9px;
    background-color: #fff;
    border-radius: 10em;
    -webkit-box-shadow: 0 0 2px #363434, inset 0 0 2px rgba(92, 88, 88, 0.5);
            box-shadow: 0 0 2px #363434, inset 0 0 2px rgba(92, 88, 88, 0.5);
}

.list__rus:hover::before {
    -webkit-transform: translateX(16px);
            transform: translateX(16px);
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

@media all and (max-width: 800px) {
    .nav__logo {
        width: 40px;
        height: 40px;
    }
    .list__eng, .list__rus {
        margin-right: auto;
        height: 18px;
        width: 45px;
        font-size: 14px;
    }
    .list__eng::before {
        height: 18px;
        width: 18px;
        left: 6px;
        top: -2px;
    }
    .list__eng::after {
        width: 23px;
        height: 23px;
        top: -3px;
        left: 30px;
    }
    .list__rus::after {
        height: 18px;
        width: 18px;
        top: -2px;
        left: 17px;
    }
    .list__rus::before {
        width: 23px;
        height: 23px;
        top: -3px;
        left: -7px;
    }
}

.header {
    background: linear-gradient(187deg, rgba(32, 113, 249, 0.7) 40%, rgba(238, 171, 25, 0.9) 68%);
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.header-title {
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 70px;
}

.header-title .bold-head {
    font-weight: 900;
    color: orange;
}

.header-text {
    font-size: 25px;
    color: #f8f8fc;
    max-width: 500px;
    text-align: center;
    margin: auto;
}

.cover-container {
    max-width: 42em;
    margin: 20vh 0 10vh 0;
}

.header-title .thin {
    font-weight: 400;
}

.social {
    list-style: none;
    font-size: 50px;
}

.social li a i {
    color: #0d6efd;
    padding: 5px;
    text-shadow: 1px 1px 1px #03057e;
}

.social li a i:hover {
    color: #fcfbf9;
    border-bottom: 3px solid #fff;
    text-shadow: 0 0 10px #e28801;
}

.header-btn {
    margin-top: 40px;
    min-width: 200px;
    text-transform: uppercase;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -999;
    overflow: hidden;
}

@media all and (max-width: 1024px) {
    .header-title {
        font-size: 50px;
    }
    .header-text {
        font-size: 30px;
    }
    .cover-container {
        margin-top: 6vh;
    }
    .social {
        font-size: 25px;
    }
    .btn-lg {
        font-size: 20px;
    }
    canvas {
        width: -webkit-min-content;
        width: -moz-min-content;
        width: min-content;
    }
}

@media all and (max-width: 600px) {
    .header-title {
        font-size: 33px;
    }
    .header-text {
        font-size: 19px;
    }
}

.about {
    min-height: 100vh;
    overflow: hidden;
    background-color: #FFFDF9;
    background-attachment: fixed;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='527' height='527' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23151FF7' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23F08512'%3E%3Ccircle cx='769' cy='229' r='6'/%3E%3Ccircle cx='539' cy='269' r='6'/%3E%3Ccircle cx='603' cy='493' r='6'/%3E%3Ccircle cx='731' cy='737' r='6'/%3E%3Ccircle cx='520' cy='660' r='6'/%3E%3Ccircle cx='309' cy='538' r='6'/%3E%3Ccircle cx='295' cy='764' r='6'/%3E%3Ccircle cx='40' cy='599' r='6'/%3E%3Ccircle cx='102' cy='382' r='6'/%3E%3Ccircle cx='127' cy='80' r='6'/%3E%3Ccircle cx='370' cy='105' r='6'/%3E%3Ccircle cx='578' cy='42' r='6'/%3E%3Ccircle cx='237' cy='261' r='6'/%3E%3Ccircle cx='390' cy='382' r='6'/%3E%3C/g%3E%3C/svg%3E");
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.textaboutme {
    background-color: #FFFDF9;
    padding: 10px;
    border-radius: 10px;
}

.about__heading {
    font-family: 'Open Sans Condensed', sans-serif;
}

.about__text {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 23px;
    letter-spacing: 1px;
}

.photo {
    max-width: 100%;
    max-height: 600px;
    border-radius: 40% 40px;
}

.skills li {
    font-size: 30px;
    margin: 20px 10px;
}

.workingon {
    font-family: 'Jost', sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
}

.workingon:last-child {
    border-bottom: none;
}

.workingon::before {
    content: '✓';
    padding: 10px;
}

@media all and (max-width: 1024px) {
    .about {
        overflow: auto;
        max-height: 100%;
    }
    .photo {
        max-height: 400px;
    }
}

#portfolio {
    background-color: #0d6efd;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-position: center;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23001567' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%2300257d' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23003693' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%231b48aa' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%233D5CC1' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
}

.title-apps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

.title-apps h2 {
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
    color: orange;
    text-shadow: 1px 1px 2px #0d6efd;
    font-weight: 700;
    padding: 5px;
    border-bottom: 2px solid #fff;
}

.title-apps p {
    text-align: center;
    font-size: 30px;
    color: white;
}

.myapps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.image {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    margin: 7px;
    margin: 50px;
    font-family: 'Raleway', sans-serif;
}

.image__image {
    display: block;
    width: 100%;
    border-radius: 10px;
}

.image__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    top: 0;
    left: 0;
    background: rgba(9, 5, 226, 0.5);
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0;
    -webkit-transition: all .7s ease;
    transition: all .7s ease;
    padding: 10px;
}

.image__overlay--blur {
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
}

.image__overlay:hover {
    opacity: 1;
}

.image__overlay > * {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.image__overlay:hover > * {
    -webkit-transform: translateY(0);
            transform: translateY(0);
}

.image__title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.image__desc {
    font-size: 15px;
    text-align: center;
}

.image__btn {
    font-size: 20px;
    border: none;
    background-color: orange;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
}

.image__btn:hover {
    background-color: #f1eee8;
    color: orange;
}

@media all and (max-width: 1200px) {
    .image {
        max-width: 35vw;
    }
}

@media all and (max-width: 800px) {
    .image {
        margin: 10px 0;
        max-width: 45vw;
    }
    .image__title {
        font-size: 26px;
        font-weight: bold;
        margin: auto;
    }
    .image__desc {
        font-size: 18px;
        margin: auto;
    }
    .image__btn {
        font-size: 18px;
        padding: 4px 8px;
        border-radius: 3px;
        margin-top: auto;
    }
}

@media all and (max-width: 500px) {
    .image {
        max-width: 95vw;
    }
    .image__title {
        font-size: 23px;
        font-weight: bold;
    }
    .image__desc {
        font-size: 15px;
    }
    .image__btn {
        font-size: 14px;
        padding: 2px 8px;
        border-radius: 3px;
    }
}

.reviews {
    background-image: url(https://cdn.glitch.me/2a3696f3-76a8-4bc5-8e54-9b355f7d5d50/bgim.jpg?v=1640401061463);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    max-height: 70vh;
}

.reviews .reviews__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: inherit;
}

.reviews__header {
    text-align: center;
    margin-top: 30px;
    color: #ebe9e7;
    text-shadow: 1px 1px 2px #1105b9;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 5px;
    border-bottom: 2px solid #0d6efd;
}

.reviews__header h2 {
    font-size: 40px;
    font-weight: bold;
}

.reviews__body {
    margin: 15px 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-family: 'Raleway', sans-serif;
    max-width: 50vw;
}

.reviews__body h3 {
    font-size: 30px;
    color: #fff;
    text-align: start;
}

.reviews__body p {
    font-size: 20px;
    color: #fff;
    text-align: center;
    background-color: rgba(11, 49, 155, 0.5);
    padding: 10px;
    border-radius: 10px;
}

@media all and (max-width: 800px) {
    .reviews__body {
        margin: 5px 0;
        max-width: 95vw;
    }
    .reviews__body h3 {
        font-size: 25px;
    }
    .reviews__body p {
        font-size: 18px;
    }
    .reviews__header {
        margin-top: 10px;
    }
}

#contacts {
    background-color: #0d6efd;
    min-height: 50vh;
}

#contacts .contact__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#contacts .contact__title h2 {
    font-size: 40px;
    font-weight: bold;
    color: #ebe9e7;
    text-shadow: 1px 1px 2px #0d6efd;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    margin-top: 30px;
    padding: 5px;
    border-bottom: 2px solid orange;
}

.contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.contact__wrapper {
    max-width: 50vw;
    margin: 30px 0;
    padding: 10px;
}

.forma {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

.forma label {
    font-size: 25px;
    color: white;
}

.forma .textInput {
    border: none;
    padding: 5px 10px;
    font-family: 'Raleway', sans-serif;
    border-radius: 10px;
    font-size: 18px;
}

.forma .textInput:focus {
    border: 3px orange solid;
    background-color: #e0fad8;
}

.forma .forma-btn {
    border: none;
    font-size: 25px;
    width: 20vw;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    background-color: orange;
    color: white;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.forma .forma-btn:hover {
    background-color: #35aa3e;
    -webkit-box-shadow: 0 0 10px black;
            box-shadow: 0 0 10px black;
}

.myCont {
    max-width: 50vw;
    margin: 30px 0;
    padding: 10px;
}

.myCont h3 {
    color: #ebe9e7;
    text-shadow: 1px 1px 2px #0d6efd;
    font-size: 30px;
    text-align: end;
    font-family: 'Open Sans Condensed', sans-serif;
}

.myCont .list-contact {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 20px;
}

.myCont .list-contact li a i {
    margin: 15px 0;
    font-size: 50px;
    color: orange;
    padding: 5px;
    -webkit-transition: .25s;
    transition: .25s;
}

.myCont .list-contact li a i:hover {
    color: white;
    border-bottom: 3px solid orange;
    text-shadow: 0 0 10px #000;
}

@media all and (max-width: 800px) {
    .contact {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .contact__wrapper {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }
}

@media all and (max-width: 500px) {
    .myCont {
        max-width: 90vw;
    }
    .myCont .list-contact li a i {
        font-size: 30px;
    }
    .contact__wrapper {
        max-width: 90vw;
    }
    .forma-btn {
        min-width: 50vw;
    }
}

body {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

ul li {
    list-style: none;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

button {
    cursor: pointer;
}

input, button, textarea {
    font-family: inherit;
}

#scrollTop {
    position: fixed;
    bottom: 80px;
    right: 70px;
    font-size: 40px;
    z-index: 999;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.scrollUp {
    opacity: 0.6;
    color: #332e2e;
}

.scrollUp_hide {
    opacity: 0;
}

@media all and (max-width: 850px) {
    #scrollTop {
        right: 15px;
        font-size: 25px;
        bottom: 50px;
    }
}
