.navbar {
    height: 75px;
    z-index: 1000;
}

.nav__logo {
    background-color: #fff;
    width: 70px;
    height: 70px;
    margin: 2px;
    padding: 5px;
    border-radius: 20px;
}

.nav-link {
    text-transform: uppercase;
    font-family: 'Jost', sans-serif;
}

#navbarNav {
    background-color: #0d6efd;
    padding: 4px;
    border-radius: 10px;
    text-align: center;
}

.nav__list:hover {
    background-color: orange;
    padding: 0 2px 0 7px;
    border-radius: 10px;
    transition: .5s all ease;
}

.list__eng {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    margin: 0 2px 0 0;
    position: relative;
    height: 24px;
    width: 60px;
    border-radius: 10em;
    display: inline-block;
    background-color: orange;
    box-shadow: 0 0 5px #5c5858;
    font-family: 'Jost', sans-serif;
}

.list__eng::before {
    content: "Eng";
    position: absolute;
    width: 24px;
    height: 24px;
    color: white;
    top: -3px;
    left: 7px;
}

.list__eng::after {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    color: white;
    top: -5px;
    left: 37px;
    background-color: #fff;
    border-radius: 10em;
    box-shadow: 0 0 2px #363434, inset 0 0 2px rgba(92, 88, 88, 0.5);
}

.list__rus {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    margin: 0 2px 0 0;
    position: relative;
    font-family: 'Jost', sans-serif;
    height: 24px;
    width: 60px;
    border-radius: 10em;
    display: inline-block;
    background-color: orange;
    box-shadow: 0 0 5px #5c5858;
}

.list__rus::after {
    content: "Rus";
    position: absolute;
    width: 24px;
    height: 24px;
    color: white;
    top: -2px;
    left: 24px;
}

.list__rus::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    color: white;
    top: -4px;
    left: -9px;
    background-color: #fff;
    border-radius: 10em;
    box-shadow: 0 0 2px #363434, inset 0 0 2px rgba(92, 88, 88, 0.5);
}

@media all and (max-width: 800px) {
    .navbar {
        height: 50px;
    }
    .nav__logo {
        width: 40px;
        height: 40px;
    }
    .list__eng, .list__rus {
        margin-right: auto;
        height: 18px;
        width: 45px;
        font-size: 14px;
    }
    .list__eng::before {
        height: 18px;
        width: 18px;
        left: 6px;
        top: -2px;
    }
    .list__eng::after {
        width: 23px;
        height: 23px;
        top: -3px;
        left: 30px;
    }
    .list__rus::after {
        height: 18px;
        width: 18px;
        top: -2px;
        left: 17px;
    }
    .list__rus::before {
        width: 23px;
        height: 23px;
        top: -3px;
        left: -7px;
    }
}

.main {
    background: linear-gradient(187deg, rgba(32, 113, 249, 0.7) 40%, white 51%, rgba(249, 181, 32, 0.5) 68%);
    max-height: 100vh;
    overflow: hidden;
    position: relative;
}

.main .photo {
    max-width: 100%;
    max-height: 438px;
    border-radius: 40% 40px;
}

.main-title {
    margin: 0;
    padding: 0;
    color: #f5810c;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.main-title .thin {
    font-weight: 400;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -999;
    height: inherit;
}

@media all and (max-width: 1024px) {
    .main-title .thin {
        color: #fff;
    }
}

body {
    box-sizing: border-box;
}
