.main {
    background: linear-gradient(187deg, rgba(32,113,249,0.7) 40%, rgba(255,255,255,1) 51%, rgba(249,181,32,.5) 68%);
    max-height: 100vh;
    overflow: hidden;
    position: relative;
    .photo{
        max-width: 100%;
        max-height: 438px;
        border-radius: 40% 40px;
    }
}

.main-title {
	margin: 0;
	padding: 0;
	color: #f5810c;
	text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}


.main-title .thin {
	font-weight: 400;
}


canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -999;
    height: inherit;

}

@media all and (max-width: 1024px){
    .main-title .thin{
        color: #fff;
    }

}
