@import "navbar";
@import "main";
@import "about";
@import "portfolio";

body {
    box-sizing: border-box;
}

ul li{list-style: none;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
button{cursor: pointer;}
input,button,textarea{font-family:inherit;}
